
.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 20px;
    position:fixed; /* element stay fixed in screen, not move even when resize */
    top:12.2vh;
    width: 100%;
    max-width: 1072px;
    height: auto;
  }
  
 
  @media (max-width: 768px) {
    .modal-content {
      width: 100%;
    }
  }
  

  @media (max-width: 480px) {
    .modal-content {
      width: 100%;
      padding: 15px;
    }
  }